/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0; }
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box; }
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%; }
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
.bigred{
	font-size: 20px;
	color: red;
}




body {
    margin: 0;
    font-family:'Montserrat', sans-serif;
    font-size: 32px;
    line-height: 36,26px;
    color: #FFFFFF;

    background: url("assets/img/Intro2.png") no-repeat;
    background-size: 100%;

    -webkit-background-size: 0 0 / cover;
    background-size: 0 0 / cover;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


h1, h2, h3, h4, h5, h6 {
  margin: 0;
}



  /*  CONTAINER  */
.container {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1920px;
    max-height: 5384px;

    margin: 6.25% auto;

}

  /*  INTRO  */
.intro {
    width: 100%;
    height: 100%;
}


  /*  ЗАГОЛОВОК 1  */
.zagolovok {
    position: absolute;
    width: 10in;
    margin-top: 1.3in;
    
    box-sizing: border-box;
    display: flex;


    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 141px;
    line-height: 103.3%;
    /* or 146px  or 103.3% */


    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0);

    text-shadow: 7px 4px 7px rgba(0, 0, 0, 0.25);
}

  /*  LIST 1  */
.list1 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  font-size: 24px;
}


  /*  FEEDBACk  */



/* Rectangle_ */

.rectangle {
  position: absolute;
  padding: 0;
  margin-top: 15.5in;
  width: 100%;
  height: 33.8in;
  left: 0;
  top: 0;

  background: #353B48;
}


  /*  КНОПКИ  */
.buttononas {
  position: absolute;

  margin: 0;

  width: 3.5in;   /*21.32%;*/
  height: 1in;
  left: 0;
  top: 4.77in;
  bottom: 86.29%;
  
  background: #292B30;
  border: 1px solid #353B48;
  box-sizing: border-box;
  border-radius: 77px;
}

.buttononas:hover {
  border: 3px solid #FD9644;
}

.buttononas__p {
  position: inherit;

  margin: auto;
  margin-top: 0.25in;
  margin-left: 0.5in;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 103.3%;
  /* or 43px */


  color: #FFFFFF;
}

.searchplace {
  position: absolute;
  float: right;
  width: 3.4in;
  height: 1in;
  left: 2in;
  top: 4.77in;

  margin-top: 0;

  background: #FD9644;
  border: 1px solid #FF793F;
  box-sizing: border-box;
  border-radius: 77px;
}

.gotomap {
  position: absolute;
  width: 5.4in;
  height: 1in;
  top: 6in;
  bottom: 4519px;

  margin: 0 auto;

  background: rgba(41, 43, 48, 0.85);
  border: 2px solid rgba(253, 150, 68, 0.85);
  box-sizing: border-box;
  border-radius: 77px;

  transition: all .5s ease;
}

.gotomap:hover {
  background-color: #FD9644;
  border: 2px solid #292B30;
}

.gotomap__p {
  position: inherit;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 83.3%;
  /* or 35px */

  left: 0.5in;
  margin: 0 auto;
  top: 0.3in;

  color: #FFFFFF;
}

.texts {
  position: relative;
  display: grid;
  justify-content: space-between;

  grid-template-columns: 45% 45%;
  grid-template-rows: 7in 7in 7in;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 36px;

  color: #FFFFFF;

  top: 15in;
}



.text1, .text2, .text3, .text4, .text5, .text6, .text7, .text8 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  box-sizing: border-box;
}

.text1 span, .text2 span, .text3 span, .text4 span, .text5 span, .text6 span, .text7 span, .text8 span {
  color: #FD9644;
  text-decoration: underline;
}

.footer {
  position: absolute;
  width: 100%;
  height: 5in;
  left: 0px;
  top: 4733px;

  margin: 0, auto;
  padding: 0;

  font-size: 100px;
  text-align: center;

  background: rgba(0, 0, 0, 0.65);
}